<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="e.isadora.telainicial">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="CampThree"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MenuVoluntario"
            android:label="MenuVoluntario"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".MenuInstituicao"
            android:label="MenuInstituicao"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".PaypallActivity" />
        <activity android:name=".PaymentDetails" />
        <activity android:name=".Cadastrar" />
        <activity android:name=".CadastrarInstituicao" />
        <activity android:name=".Login" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>